version: '3.8'

services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=smartify
    restart: always
    networks:
      - internal
      - external

  mongo:
    image: mongo:7.0
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
      - ./database:/docker-entrypoint-initdb.d
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
      - MONGO_INITDB_DATABASE=smartify
    restart: always
    networks:
      - internal
      - external
    

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile 
    ports:
      - "22025:8080"
    depends_on:
      - db
      - mongo
    env_file:
    - .env.production
    container_name: backend
    restart: always
    networks:
      - external
      - internal

#  frontend:
#    build: ./frontend
#    container_name: frontend
#    restart: always

#
#  ml:
#    build: ./ml
#    container_name: ml
#    restart: always

networks:
  internal:
    internal: true
  external:

volumes:
  postgres_data:
  mongo_data:
